:root {
    --room-width: 100%; /* Adjust the default width */
    --room-height: 100%; /* Adjust the default height */
}

.room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.room {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: var(--room-width) !important;
    height: var(--room-height) !important; 
    margin: 0 auto;
}

.room-image img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.room-info {
    flex: 1;
    margin-left: 20px;
}

.room-type {
    font-size: 140%;
    margin-bottom: 10px;
}

.room-pricing {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-plan {
    font-size: 100%;
}

.room-price {
    font-weight: bold;
    font-size: 100%;
}

.non-refundable {
    color: red;
}

.cancel-policy {
    color: green;
    font-size: 100%;
    margin-top: 20px; /* Space above select button */
}

.select-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 26px;
    cursor: pointer;
    font-size: 100%;
    margin-top: 20px; /* Space above select button */
}

.select-button:hover {
    background-color: #0056b3;
}
