.bookingsPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../../public/images/background_01.png');
    background-color: #f0f0f0; /* Set a background color similar to image background */
    background-size: 40%; /* Adjust to fit the content */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: right center; /* Position on the right center */
}

.bookingsContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-family: 'Lato';
    padding-left: 22%; 
    position: relative;
}

.bookingsContent {
    width: 30%; /* Adjust width to match accountContainer */
    background-color: #ffffff; 
    padding: 20px; /* Adjust padding */
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Shadow for platform effect */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Gap between elements */
    max-height: 600px;
}

.bookingsTitle {
    color: midnightblue;
    font-size: 30px; /* Increase font size */
    font-weight: bold;
    text-align: center;
    align-self: flex-start;
}

.bookingItem {
    margin-bottom: 20px; /* Increase bottom margin */
    padding-top: 15px;
}

.bookingDetail {
    margin-bottom: 8px; /* Increase bottom margin */
    font-size: 18px; /* Increase font size */
    line-height: 1.5;
}

.error {
    color: red;
    margin-top: 10px;
    text-align: center;
    font-family: 'Lato';
    font-size: medium;
}

.footerContainer {
    background-color: #fff; /* Ensure the footer has the same background color */
    margin-top: 40px; /* Increase top margin */
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.noBookings {
    text-align: center;
    font-size: 18px;
    color: #666;
}

.navigationButtons {
    position: absolute; /* Absolute positioning within the container */
    top: 20px; /* Space from the top */
    right: 20px; /* Space from the right edge */
    display: flex;
    gap: 10px; /* Space between buttons */
}

.navButton {
    background-color: #007bff; /* Blue background */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Lato';
    font-size: 16px;
}

.navButton:disabled {
    background-color: #cccccc; /* Gray background for disabled */
    cursor: not-allowed;
}
