.footer {
    width: 90%;
    max-width: 1024px;
    font-size: 12px;
    font-family: 'Lato';
}

.fLists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-size: medium;
}

.fList {
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: midnightblue;
    cursor: pointer;
}
