.header {
    background-color: midnightblue;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
    margin: 20px 0px 0px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    font-family: 'Lato';
    font-size: large;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerListItem.active {
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerTitle {
    font-family: 'Lato';
}

.headerDescription {
    margin: 20px 0px;
    font-family: 'Lato';
    font-size: 18px;
}

.headerBtn {
    width: 120px;
    background-color: orange;
    color: white;
    font-weight: 500;
    font-family: 'Lato';
    font-size: large;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.headerBtn:hover {
    background-color: darkorange;
}

.headerSearch {
    height: 50px;
    background-color: white;
    border: 3px solid orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon {
    color: lightgrey;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
}

.headerSearchInput{
    border: none;
    outline: none;
    font-family: 'Lato';
    font-size: large;
}

.autosuggestSuggestionsContainer {
    position: absolute;
    top: 80%;
    background-color: white;
    border-radius: 4px;
    z-index: 2;
    max-height: 400px; 
    overflow-y: auto;
    border: 1px solid grey; /* Border around suggestions */
}

.autosuggestSuggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 220px;
}

.autosuggestSuggestion {
    padding: 10px;
    cursor: pointer;
    font-family: 'Lato';
    font-size: large;
    color: black;
}

.autosuggestSuggestion:hover {
    background-color: skyblue;
}

.autosuggestSuggestion--highlighted {
    background-color: white;
}

.headerSearchText {
    color: lightgrey;
    cursor: pointer;
    font-size: large;
}

.date {
    position: absolute;
    top: 80%;
    right: 39%;
    z-index: 2;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.options {
    position: absolute;
    top: 80%;
    right: 19%;
    background-color: white;
    color: black;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 12px;
    color: grey;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}